@{
    ViewBag.Title = "Welcome ";
}

<div class="container">
    <div class="text-black text-center bg-white fw-bold">
        <h1 class="text-info ">Welcome to Hijaby !</h1>
        <hr />

        <p>Don't have any account?  <a asp-controller="User" asp-action="Register" class="btn btn-outline-primary  mx-2 my-2">Register</a> </p>
            <hr />

        <p>Already,I have an account <a asp-controller="User" asp-action="Login" class="btn btn-outline-success my-2"> Login</a> </p>
        
    </div>
</div>
