@model User

<h2 class="text-center">Register</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form asp-action="Register" asp-controller="User">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <hr></hr>
                 <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <hr></hr>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <hr></hr>
                 <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <hr></hr>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary btn-block" />
                </div>
              <p> DO you have account? <a asp-controller="User" asp-action="Login">Login</a></p>

               @if (ViewBag.SuccessMessage != null)
                {
            <div class="alert alert-success">
                        @ViewBag.SuccessMessage
            </div>
                }
                else if (ViewBag.ErrorMessage != null)
                {
            <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
            </div>
                }
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}